---
import "@styles/global.css"
import "@splidejs/splide/css";
import { generateRandomID } from "@utils/randomId.js";
import { formatPriceToCOP } from "@utils/currency";
import Image from 'astro/components/Image.astro';
const basePath = import.meta.env.BASE_URL;

type Benefit = {
  icon: string;
  description: string;
};

type ImageData = {
  src: string;
  alt: string;
};

interface Props {
  class:string;
  planName: string;
  benefits: Benefit[];
  images: ImageData[];
  planTermConditions: string;
  price: number;
  recommendation: number;
  discountPrice: number;
  buttonRedirect: string;
  reverse: boolean;
}


const {
  class:customClass,
  planName,
  benefits,
  images,
  planTermConditions,
  price,
  recommendation,
  discountPrice,
  buttonRedirect,
  reverse,
  ...rest
} = Astro.props

const key = generateRandomID();
---

<promo-detail-card
  class={"plan-detail-card" + " " + customClass}
  {...rest}
  id={customClass}
  data-key={key}
  class:list={{"reverse-card": reverse}}
  >
  <h2 class="plan-name mobile">{planName}</h2>
  <section class="slider__wrapper">
    <div id="splide" class={"splide" + " " + key}>
      <div class="splide__track">
        <ul class="splide__list">
          { images?.length > 0 &&
            images.map((image) => (
              <li class="splide__slide">
                <Image
                src={basePath + image.src}
                alt={image.alt}
                width={500}
                height={350}
                >
                </Image>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>


  <section class="information__wrapper">
    
    <section class="title-and-benefits">
      <h2 class="plan-name desk">{planName}</h2>
      <section class="benefits">
        <ul class="benefits__list">

          { benefits?.length > 0 &&
            benefits.map((element) => (
              !element.description.includes("Personas") ?
              <li class="benefit-item">
                <Image
                src={basePath + element.icon}
                alt=""
                width={15}
                height={15}
                >
                </Image>
                <p class="benefit-name">{element.description}</p>
              </li>
              : null
            ))
          }
        </ul>
      </section>
    </section>

    <section class="terms-and-conditions">
      <p class="information">{planTermConditions}</p>

    </section>

    <section class="price-and-button">
      
      <span class="price__wrapper">
        <h3 class="price__discount">${formatPriceToCOP(discountPrice)}COP</h3>
        <h2 class="price">${formatPriceToCOP(price)}COP</h2>
        <p  class="price__disclaimer">*Pago inmediato</p>
      </span>

      <span class="button__wrapper">
        <button
          class="button quotes"
          >Cuotas</button>

        <a href={buttonRedirect}
          class="button buy"
          target="_blank"
          rel="noopener noreferrer"
        >¡Compra Ya!</a>
      </span>

    </section>
  </section>
</promo-detail-card>



<script>
  import Splide from "@splidejs/splide";

  class  PromoDetailCard extends HTMLElement {
    constructor() {
      super();

    }

    connectedCallback() {
      const key = this.dataset.key;
      document.addEventListener("DOMContentLoaded", () => {
      const splide = new Splide(`.splide.${key}`, {
      type: 'loop',
      autoplay: true, // Enable auto-play
      interval: 4000, // 3 seconds between slides*/
      perPage: 1, // Show 1 slide at a time
      pagination: true, // Show pagination dots
      arrows: false,
      pauseOnHover: true,
      }).mount();

    });
    this.quoteButton();
    }
    
    disconnectedCallback() {
    }

    quoteButton() {
      this.querySelector(".button.quotes").addEventListener("click", () => {
        const event = new Event("click");
        if(window.innerWidth <= 1150) {
          document.querySelector(".quote-button").dispatchEvent(event);
        }
      })
    }
  };

  customElements.define('promo-detail-card', PromoDetailCard);

</script>



<style>
promo-detail-card {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-base);
  margin-top: 25px;
  box-shadow: 1px 1px 5px #a9a9a9;
  padding: 0px 15px 25px 15px;
  max-width: 320px;
  border-radius: 20px;
}

.slider__wrapper {
    width: 100%;
    max-height: 300px;    
    
}

.splide__track  {
  border-radius: 20px;
}

li.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

li.splide__slide img {
  width: 100%;
  height: auto;
  max-height: 155px;
}

:global(.splide__pagination__page) {
    background: #85afed;
}

:global(.splide__pagination__page.is-active) {
  background: var(--system-primary-backgroundColor-1);
}



section.title-and-benefits {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

section.benefits {
  width: 100%;
}  

ul.benefits__list {
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

li.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

p.benefit-name {
  margin: 0px;
  font-size: 0.5rem;
  font-family: var(--ff-base);
  color: var(--system-clr-primaryText);
}

h2.plan-name {
  color: var(--system-primary-backgroundColor-1);
  font-family: var(--ff-base);
  font-weight: 700;
}

h2.plan-name.desk {
  display: none;
  margin-bottom: 5px;
}

h2.plan-name.mobile {
  margin: 10px 0px;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
}


p.information {
    font-family: var(--ff-base);
    color: var(--system-clr-primaryText);
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

span.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

h3.price__discount {
  color: #C1C5CB;
  text-decoration: line-through;
  margin: 0px;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: right;
  width: 100%;
}

h2.price {
  margin: 0px;
  color: var(--system-primary-backgroundColor-1);
  margin-bottom: 0px;
  font-size: 2rem;
  font-weight: 800;
  text-align: right;
  width: 100%;
}

p.price__disclaimer {
    margin: 0px;
    color: var(--system-primary-backgroundColor-1);
    font-size: 0.8rem;
    text-align: right;
    justify-self: flex-end;
    width: 100%;
}

span.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

button.button,
a.button {
  text-decoration: none;
  width: 100%;
  padding: 7px 0px;
  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

button.button:focus-visible {
  outline: unset;
}


button.button.quotes {
  border: 1px solid var(--system-primary-backgroundColor-1);
  color: var(--system-primary-backgroundColor-1);

}

a.button.buy {
  border: 1px solid var(--system-primary-backgroundColor-5);
  color: var(--system-primary-backgroundColor-5)

}

a.button.buy:hover {
  color: white;
  background: var(--system-primary-backgroundColor-5);
}





@media screen and (width > 800px) {

  promo-detail-card {
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 15px;
    max-height: 290px;
    padding: 10px;
    max-width: unset;
  }

  .reverse-card {
    flex-direction: row-reverse;
  }

  .slider__wrapper {
    width: 40%;
  }

  .splide__track  {
    border-radius: 15px;
  }

  li.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.splide__slide img {
    width: 100%;
    min-height: 261px;
    height: auto;
  }




  section.information__wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.title-and-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
  }

  h2.plan-name.desk {
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 75%;
    font-size: 1.2rem;
  }

  h2.plan-name.mobile {
    display: none;
  }

  ul.benefits__list {
    gap: 5px;
    justify-content: center;
  }


  
  section.terms-and-conditions {
    width: 100%;
  }

  p.information {
    margin: 8px 0px;
    font-size: 0.8rem;
  }

  section.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 7px;
  }

  span.price__wrapper {
    justify-content: space-between;
  }



  h3.price__discount {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
  }

  h2.price {
    font-size: 1.7rem;
  }


  span.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
  }

  button.button,
  a.button {
    text-decoration: none;
    width: 100px;
    font-size: 0.9rem;
  }

}



@media screen and (width > 1150px) {

  promo-detail-card {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 50px;
    max-height: 290px;
    padding: 10px;
    max-width: unset;
  }

  h2.plan-name.desk {
    font-size: 1.5rem;
    width: 100%
  }

  p.information {
    font-size: 0.9rem;
  }

  h3.price__discount {
    font-size: 1.5rem;
  }

  h2.price {
    font-size: 2rem;
  }

  a.button {
    text-decoration: none;
    width: 120px;
    font-size: 1rem;
  }
}


</style>