---
import "@styles/global.css"
import "@splidejs/splide/css";
import { generateRandomID } from "@utils/randomId.js";
import { formatPriceToCOP } from "@utils/currency";
import Image from 'astro/components/Image.astro';
const basePath = import.meta.env.BASE_URL;

type Benefit = {
  icon: string;
  description: string;
};

type ImageData = {
  src: string;
  alt: string;
};

interface Props {
  class:string;
  planName: string;
  benefits: Benefit[];
  images: ImageData[];
  planTermConditions: string;
  price: number;
  recommendation: number;
  discountPrice: number;
  buttonRedirect: string;
  reverse: boolean;
}


const {
  class:customClass,
  planName,
  benefits,
  images,
  planTermConditions,
  price,
  recommendation,
  discountPrice,
  buttonRedirect,
  reverse,
  ...rest
} = Astro.props

const key = generateRandomID();

function showResumeTermCondiitons() {
  const splitTerms = planTermConditions.split(" ")
  var resume = ""
  for(var index = 0; index <= splitTerms.length; ++index) {
    if (splitTerms[index].toString() === "2025.") {
        resume += splitTerms[index] + "..."
        return resume;
    }
    resume += splitTerms[index] + " "
  }
}

---




<promo-detail-card
  class={"plan-detail-card" + " " + customClass}
  {...rest}
  id={customClass}
  data-key={key}
  class:list={{"reverse-card": reverse}}
  data-plan-name={planName}
  data-term-conditions={planTermConditions}
  >
  <h2 class="plan-name mobile">{planName}</h2>
  
  <section class="slider__wrapper">
    <div id="splide" class={"splide" + " " + key}>
      <div class="splide__track">
        <ul class="splide__list">
          { images?.length > 0 &&
            images.map((image) => (
              <li class="splide__slide">
                <Image
                src={basePath + image.src}
                alt={image.alt}
                width={500}
                height={350}
                >
                </Image>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>


  <section class="information__wrapper">
    
    <section class="title-and-benefits">
      <h2 class="plan-name desk">{planName}</h2>
      <section class="benefits">
        <ul class="benefits__list">

          { benefits?.length > 0 &&
            benefits.map((element) => (
              !element.description.includes("Personas") ?
              <li class="benefit-item">
                <Image
                src={basePath + element.icon}
                alt=""
                width={15}
                height={15}
                >
                </Image>
                <p class="benefit-name">{element.description}</p>
              </li>
              : null
            ))
          }
        </ul>
      </section>
    </section>

    <section class="terms-and-conditions">
      <span class="information"  set:html={showResumeTermCondiitons()}>
      </span>
      <button class={"terms-conditions" + " " + key}>
        Ver terminos y Condiciones
      </button>

    </section>

    <section class="price-and-button">
      
      <div class="price__wrapper">
        <div class="total">
          <span>
            <p  class="price__disclaimer total">Pago Diferido</p>
            <h3 class="price__total">
              ${formatPriceToCOP(discountPrice)}<span class="cop">COP</span>
            </h3>

          </span>
          <button
          class={"button quotes " + key}
          >Cuotas
          </button>
        </div>


        <div class="discount">
          <span>
          <p  class="price__disclaimer discount">Pago inmediato</p>
          <h2 class="price__discount">
            ${formatPriceToCOP(price)}<span class="cop">COP</span>
          </h2>
          </span>
          <a href={buttonRedirect}
          class="button buy"
          target="_blank"
          rel="noopener noreferrer"
          >¡Compra Ya!</a>
        </div>

      </div>

      <span class="button__wrapper">



      </span>

    </section>
  </section>


</promo-detail-card>



<script>
  import Splide from "@splidejs/splide";
  import { requestOpenSelectedPlan } from "@events/quoteCalculator.js"
  import { requestOpenTermsConditionsPopUp } from "@events/termConditionPopUp";



  class  PromoDetailCard extends HTMLElement {
    constructor() {
      super();

    }

    connectedCallback() {
      this.render()

    }
    
    disconnectedCallback() {
    }

    render() {
      const key = this.dataset.key;
      document.addEventListener("DOMContentLoaded", () => {
      const splide = new Splide(`.splide.${key}`, {
      type: 'loop',
      autoplay: true, // Enable auto-play
      interval: 4000, // 3 seconds between slides*/
      perPage: 1, // Show 1 slide at a time
      pagination: true, // Show pagination dots
      arrows: false,
      pauseOnHover: true,
      }).mount();

    });
    this.quoteButton();
    this.termsConditions();
    }

    quoteButton() {
        requestOpenSelectedPlan(`.button.quotes.${this.dataset.key}`, this.dataset.planName)
    }

    termsConditions() {
      requestOpenTermsConditionsPopUp(`.terms-conditions.${this.dataset.key}`, {
          title: this.dataset.planName,
          description: this.dataset.termConditions
      })
    }
    
  };

  customElements.define('promo-detail-card', PromoDetailCard);
  

</script>



<style>




promo-detail-card {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-base);
  margin-top: 25px;
  box-shadow: 1px 1px 5px #a9a9a9;
  padding: 5px 0px 15px;
  max-width: 320px;
  border-radius: 20px;
}

.slider__wrapper {
    width: 100%;
    max-height: 300px;    
    
}

.splide__track  {
}

li.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

li.splide__slide img {
  width: 100%;
  height: auto;
  max-height: 155px;
}

:global(.splide__pagination__page) {
    background: #85afed;
}

:global(.splide__pagination__page.is-active) {
  background: var(--system-primary-backgroundColor-1);
}

section.information__wrapper {
  padding: 0px 15px; 
}

section.title-and-benefits {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

section.benefits {
  width: 100%;
}  

ul.benefits__list {
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

li.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

p.benefit-name {
  margin: 0px;
  font-size: 0.5rem;
  font-family: var(--ff-base);
  color: var(--system-clr-primaryText);
}

h2.plan-name {
  color: var(--system-primary-backgroundColor-1);
  font-family: var(--ff-base);
  font-weight: 700;
}

h2.plan-name.desk {
  display: none;
  margin-bottom: 5px;
}

h2.plan-name.mobile {
  margin: 10px 0px;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}


span.information {
    font-family: var(--ff-base);
    color: var(--system-clr-primaryText);
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

button.terms-conditions {
  color: var(--system-primary-backgroundColor-1);
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 0px;
}

button.terms-conditions:focus-visible {
  outline: unset;
}

div.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 35px 0px 15px;
}

div.price__wrapper div.total,
div.price__wrapper div.discount  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


h2.price__discount {
  margin: 0px;
  color: var(--system-primary-backgroundColor-5);
  margin-bottom: 0px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  width: 100%;
}



h3.price__total {
  color: var(--system-primary-backgroundColor-1);
  margin: 0px;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  width: 100%;
}

span.cop {
  font-size: 1rem;
}

p.price__disclaimer {
    margin: 0px;
    font-weight: 600;
    color: var(--system-primary-backgroundColor-5);
    font-size: 0.9rem;
    width: 100%;
}

p.price__disclaimer.total {
  color: var(--system-primary-backgroundColor-1);
  text-align: left;
}



button.button,
a.button {
  text-decoration: none;
  width: 120px;
  padding: 7px 0px;
  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

button.button.quotes {
  cursor: pointer;
  border: 1px solid var(--system-primary-backgroundColor-1);
  color: var(--system-primary-backgroundColor-1);
  -webkit-tap-highlight-color: transparent;

}

button.button.quotes:hover {
  color: white;
  background-color: var(--system-primary-backgroundColor-1);
}

button.button:focus-visible {
  outline: unset;
}


a.button.buy {
  border: 1px solid var(--system-primary-backgroundColor-5);
  color: white;
  background: var(--system-primary-backgroundColor-5);
}

a.button.buy:hover {
  color: var(--system-primary-backgroundColor-5);
  background: white;
}





@media screen and (width > 800px) {

  promo-detail-card {
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 30px;
    max-height: 290px;
    padding: 10px;
    max-width: unset;
  }

  .reverse-card {
    flex-direction: row-reverse;
  }

  .slider__wrapper {
    width: 40%;
  }

  .splide__track  {
    border-radius: 15px;
  }

  li.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.splide__slide img {
    width: 100%;
    min-height: 261px;
    height: auto;
  }




  section.information__wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

  }

  section.title-and-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
  }

  h2.plan-name.desk {
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 75%;
    font-size: 1.2rem;
  }

  h2.plan-name.mobile {
    display: none;
  }

  ul.benefits__list {
    gap: 5px;
    justify-content: center;
  }


  
  section.terms-and-conditions {
    width: 100%;
  }

  span.information {
    margin: 8px 0px;
    font-size: 0.8rem;
  }

  section.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 7px;
  }

  div.price__wrapper {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 15px 0px;
  }

  div.price__wrapper div.total,
  div.price__wrapper div.discount {
    flex-direction: column;
    align-items: center;
  }




  h3.price__total {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
  }

  h2.price__discount {
    font-size: 1.5rem;
  }


  span.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
  }

  button.button,
  a.button {
    text-decoration: none;
    width: 150px;
    font-size: 0.9rem;
  }

}



@media screen and (width > 1150px) {

  promo-detail-card {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    max-height: 290px;
    padding: 10px;
    max-width: unset;
  }

  h2.plan-name.desk {
    font-size: 1.1rem;
    width: 70%;
  }

  span.information {
    font-size: 0.9rem;
  }

  h3.price__total,
  h2.price__discount {
    font-size: 1.6rem;
  }

  button.button,
  a.button  {
    width: 170px;
    font-size: 1rem;
  }
}

@media screen and (width > 1250px) {
  h2.plan-name.desk {
    font-size: 1.3rem;
    width: 85%;
  }
}


</style>