---
import "@styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BasicBanner from "@components/banner/BasicBanner.astro";
import PromoListCard from "@components/cards/promoCards/PromoListCard.astro";
import PromoItemCard from "@components/cards/promoCards/PromoItemCard.astro";
const mainBanner = "banners/home/palm-home-banner-cl-webp.webp";
import * as plans from "@data/plans/planInformation.md"
const basePath = import.meta.env.BASE_URL;
const planEntries = Object.entries(plans.frontmatter)
const planesPath = basePath + "planes/"
---

<BaseLayout title="Inicio">
  <BasicBanner image={mainBanner} class={"palm-banner"}>
    <span class="title__cont">
      <h2 class="title">Plancitos.com</h2>
      <h3 class="sub-title">Tu plan: <span>Fácil - Rapido - Sin rollos</span></h3>
    </span>
  </BasicBanner>
  
  <PromoListCard>
    {
      planEntries.map(([key, plan]) => (
        <PromoItemCard
          key={key}
          class=""
          title={plan.title}
          category={plan.category}
          recommendation={plan.recommendation}
          price={plan.fullPaymentPrice}
          discountPercent={plan.discountPercent}
          discountPrice={plan.price}
          buttonRedirect={ planesPath + plan.planRedirect}
          legalRestriction={plan.legalRestriction}
          benefits={plan.benefits}

          >
        </PromoItemCard>
      ))
    }


  </PromoListCard>
  
</BaseLayout>

<style>

  img.palm-banner {
    filter: brightness(0.8);
    object-fit: cover;
  }

  span.title__cont {
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .title {
    color: white;
    font-size: 3rem;
    font-family: var(--ff-base);
    font-weight: 800;
    margin: 0px;
    -webkit-text-stroke: thin;

  }
  .sub-title {
    margin: 0px;
    text-align: left;
    font-family: var(--ff-base-2);
    font-style: italic;
    color: white;
  }
  .sub-title span {
    color: white;
  }

  @media screen and (width >= 720px) {
    
    img.palm-banner {
      object-fit: unset;
    }
    
    span.title__cont {
      grid-column: 1/3;
      grid-row: 2;
      justify-content: center;
      padding-left: 3%;

    }
    
    .title {
      -webkit-text-stroke: medium;
    }
  }
  
  @media screen and (width >= 1150px) {
    img.palm-banner {
      object-fit: cover;
      mask-repeat: repeat;
    }
    span.title__cont {
      grid-column: 1/3;
      grid-row: 2;
    }
    
    .title {
      color: white;
      font-size: 6rem;
    }
  }


</style>
