---
import { Image } from 'astro:assets'
import '@styles/global.css'
const contactEmail = "atencionalcliente@plancitos.com"
const basePath = import.meta.env.BASE_URL;
---

<footer class="pd-mobile">
    <nav class="w-max">
        <section class="client-service--section">
          <div class="wrapper">
            <h2 class="">SERVICIO AL CLIENTE</h2>
            <ul>
              <li><a class="" href=`${basePath}nosotros`>Nosotros</a></li>
            </ul>
          </div>
        </section>

        <section class="contact--section">
          <div class="wrapper">
            <h2 class="">CONTACTANOS</h2>
            <ul>
              <li><a class="" href=`${basePath}contacto`>Quiero que me contacten</a></li>
              <li><a class="" href="tel:+573133336464">+57 313 333 6464</a></li>
              <li><a class="" href=`mailto:${contactEmail}`>{contactEmail}</a></li>
            </ul>
          </div>
        </section>

        <section class="terms-conditions--section">
          <div class="wrapper">
            <h2 class="">POLITICAS, TERMINOS Y<br class="break-line"> CONDICIONES</h2>
            <ul>
              <li><a class="" href=`${basePath}terminos-y-condiciones`>Terminos y Condiciones</a></li>
            </ul>
          </div>
        </section>

        <section class="follow-us--section">
          <div class="wrapper">
            <h2 class="">SÍGUENOS</h2>
            <ul>
              <li><Image src=`${basePath}icons/fb-logo-svg.svg` alt="logo cliqueable de facebook" width="25" height="25"/></li>
              <li><Image src=`${basePath}icons/insta-logo-svg-3.svg` alt="logo cliqueable de instagram" width="27.5" height="25"/></li>
              <li><Image src=`${basePath}icons/tiktok-logo-svg.svg` alt="logo cliqueable de tiktok" width="25" height="25"/></li>
            </ul>
          </div>
        </section>
      </nav>
      <h3 class="copyright">Copyright 2024, Skyline Technologies</h3>


</footer>

<style>

  footer {
      padding-top: 20px;
      bottom: 0px;
      background: var(--clr-pry-base-1);
      width: 100%;
  }

  nav {
    display: grid;
  }

  section {
    display: flex;
    flex-direction: column;

  }


  div > h2 {
    color: white;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-family: var(--ff-base);
    font-weight: 550;
  }



  ul {
    list-style: none;
    padding-left: 0px;
    color: white;
    margin: 4px;
  }



  li a {
    text-decoration: none;
    font-family: var(--ff-base);
    font-weight: 400;

  }
  li::marker {
    color: var(--clr-pry-base-1);
  }

  li a,
  h3.copyright
   {
    color: white;
  }

  .client-service--section {
    grid-column: 1;
    grid-row: 1;
  }

  .contact--section {
    grid-column: 1;
    grid-row: 2;
  }

  .terms-conditions--section {
    grid-column: 1;
    grid-row: 3;
  }

  .follow-us--section ul {
    list-style: none;
    display: flex;
    gap: .5rem;
    padding-left: 0px;

  }

  li img {
    width: 25px;
  }

  .follow-us--section ul li:nth-child(2) img {
    width: 27.5px;
  }



  h3.copyright {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-base);
    text-align: center;
    margin: 2.5rem 0rem 2rem;
  }

@media screen and (width >= 370px) {
  nav {
    grid-template-columns: 50% 45%;
    grid-template-rows: repeat(3, 1fr);
  }

}


@media screen and (width >= 720px) {
  
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 750px;
    justify-content: center;

  }

  div.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  ul {
    width: 80%;
  }

  section {
    width: 100%;
    align-items: center;
  }
  section h2 {
    align-self: left;
    font-size: 1.1rem;
  }
  .contact--section h2 {
    width: 180px;
  }

  .terms-conditions--section {
    grid-column: 2;
    grid-row: 1;
  }

  .follow-us--section ul {
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

  }

}


@media screen and (width >= 1150px) {
  nav {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 1300px;
  }

  
  .client-service--section h2,
  .terms-conditions--section h2,
  .contact--section h2 {
    width: 260px;
  }



  ul {
    padding-left: 0px;
  }

  .contact--section {
    grid-column: 2;
    grid-row: 1;
  }

  .terms-conditions--section {
    grid-column: 3;
    grid-row: 1;
  }
  .follow-us--section {
    grid-column: 4;
    grid-row: 1;
  }

}

    
</style>